name: Secrets Example

on:
  push:
    branches:
      - main

jobs:
  show-secret:
    runs-on: ubuntu-latest

    steps:
      - name: Print masked secret
        run: echo "Your API key is ${{ secrets.API_KEY }}"